.swiper-pagination-bullet{
 

  opacity: 1!important;
  border-color: white!important;
  border: 1px solid;
  background-color: red!important;
}
.swiper-pagination-bullet-active{
  background-color: white!important;
}

/* number input */
.custom-input-number input {
   
    text-align: center;


  
}   

.custom-input-number .rs-input-number-btn-group-vertical {
  display: none;
}

.price{
  font-weight: bold;
  font-size:17px
}

.total{
  font-size: 20px;
}

.btn:disabled{
  color: gray;
  background-color:rgb(217, 214, 214);
  border-color:gray
}